assemblee.dtd

<!ELEMENT assemblee_nationale (informations_generales, deputes, lois, commissions)>

<!ELEMENT informations_generales (pays, legislature, date_debut, siege, description, nombre_deputes)>
<!ELEMENT pays (#PCDATA)>
<!ELEMENT legislature (#PCDATA)>
<!ELEMENT date_debut (#PCDATA)>
<!ELEMENT siege (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT nombre_deputes (#PCDATA)>

<!ELEMENT deputes (depute*)>

<!ELEMENT depute (identifiant, parti, profession, contact)>
<!ATTLIST depute id ID #REQUIRED>

<!ELEMENT identifiant (nom, prenom, nom_complet, date_naissance, lieu_naissance)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT nom_complet (#PCDATA)>
<!ELEMENT date_naissance (#PCDATA)>
<!ELEMENT lieu_naissance (#PCDATA)>

<!ELEMENT parti (#PCDATA)>

<!ELEMENT profession (#PCDATA)>

<!ELEMENT contact (email, telephone, adresse_bureau, reseaux_sociaux)>
<!ELEMENT reseaux_sociaux (twitter, facebook, linkedin)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT telephone (#PCDATA)>
<!ELEMENT adresse_bureau (#PCDATA)>
<!ELEMENT twitter (#PCDATA)>
<!ELEMENT facebook (#PCDATA)>
<!ELEMENT linkedin (#PCDATA)>


<!ELEMENT lois (projet_loi*)>
<!ELEMENT projet_loi (titre, description_loi, date_publication, statut)>
<!ATTLIST projet_loi id ID #REQUIRED>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT description_loi (#PCDATA)>
<!ELEMENT date_publication (#PCDATA)>
<!ELEMENT statut (#PCDATA)>

<!ELEMENT commissions (commission*)>
<!ELEMENT commission (titre_com, description_com, bureau)>
<!ATTLIST commission id ID #REQUIRED>
<!ELEMENT titre_com (#PCDATA)>
<!ELEMENT description_com (#PCDATA)>
<!ELEMENT bureau (president_id, vice_president_id+)>
<!ELEMENT president_id (#PCDATA)>
<!ELEMENT vice_president_id (#PCDATA)>