assemblee.dtd

<!ELEMENT assemblee_nationale (informations_generales, deputes, lois, commissions, sessions)>

<!ELEMENT informations_generales (pays, legislature, annee_debut_legis, siege, description, nombre_deputes)>
<!ELEMENT pays (#PCDATA)>
<!ELEMENT legislature (#PCDATA)>
<!ELEMENT annee_debut_legis (#PCDATA)>
<!ELEMENT siege (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT nombre_deputes (#PCDATA)>

<!ELEMENT deputes (depute+)>

<!ELEMENT depute (identifiant, parti, profession, contact)>
<!ATTLIST depute id ID #REQUIRED>

<!ELEMENT identifiant (nom, prenom, date_naissance, lieu_naissance)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT date_naissance (#PCDATA)>
<!ELEMENT lieu_naissance (#PCDATA)>

<!ELEMENT parti (#PCDATA)>

<!ELEMENT profession (#PCDATA)>

<!ELEMENT contact (email, telephone, adresse_bureau, reseaux_sociaux)>
<!ELEMENT reseaux_sociaux (twitter, facebook, linkedin)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT telephone (#PCDATA)>
<!ELEMENT adresse_bureau (#PCDATA)>
<!ELEMENT twitter (#PCDATA)>
<!ELEMENT facebook (#PCDATA)>
<!ELEMENT linkedin (#PCDATA)>


<!ELEMENT lois (projet_loi*)>
<!ELEMENT projet_loi (titre, description_loi, date_publication, statut)>
<!ATTLIST projet_loi id ID #REQUIRED>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT description_loi (#PCDATA)>
<!ELEMENT date_publication (#PCDATA)>
<!ELEMENT statut (#PCDATA)>

<!ELEMENT commissions (commission+)>
<!ELEMENT commission (titre_com, description_com, bureau)>
<!ATTLIST commission id ID #REQUIRED>
<!ELEMENT titre_com (#PCDATA)>
<!ELEMENT description_com (#PCDATA)>
<!ELEMENT bureau (president_id, vice_president_id+)>
<!ELEMENT president_id (#PCDATA)>
<!ELEMENT vice_president_id (#PCDATA)>


<!ELEMENT sessions (session+)>
<!ELEMENT session (description_sess, periode, date_debut, date_fin, seances)>
<!ATTLIST session id ID #REQUIRED>
<!ELEMENT description_sess (#PCDATA)>
<!ELEMENT periode (#PCDATA)>
<!ELEMENT date_debut (#PCDATA)>
<!ELEMENT date_fin (#PCDATA)>

<!ELEMENT seances (seance+)>
<!ELEMENT seance (president_seance, secretaire_seance, ordre_du_jour, votes)>
<!ATTLIST seance id ID #REQUIRED>
<!ELEMENT president_seance (#PCDATA)>
<!ELEMENT secretaire_seance (#PCDATA)>
<!ATTLIST president_seance ref IDREF #REQUIRED>
<!ATTLIST secretaire_seance ref IDREF #REQUIRED>

<!ELEMENT ordre_du_jour (point+)>
<!ELEMENT point (#PCDATA)>
<!ATTLIST point priorite (basse|moyenne|haute) #IMPLIED>

<!ELEMENT votes (vote+)>
<!ELEMENT vote (pour, contre, abstention, absence)>
<!ATTLIST vote texte CDATA #REQUIRED>
<!ATTLIST vote resultat (Adopté|Rejeté) #REQUIRED>
<!ELEMENT pour (#PCDATA)>
<!ELEMENT contre (#PCDATA)>
<!ELEMENT abstention (#PCDATA)>
<!ELEMENT absence (#PCDATA)>